*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
      position: relative;
      top: 30px;
}
.linkk{
    display: flex;
 list-style-type: none;
 margin-right: 70px;

}
.linkk li{
    margin: 10px;
}
.g3-title{
    margin-left: 150px;
}



.banner-top{
    width: 50%;
    height: 150px;
 
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.banner-top h2{
    font-size: 50px;
}

.total-banner{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 20px;
    
}
.banner-img img {
    width: 1200px;
  
  
    margin-left: 100px;
   
}
.feature-left{
    width: 40%;
  
    margin-left: 150px;
    margin-top: 100px;

}
.team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.our-feature{
    display: flex;
}






.team img{
width: 300px;
height: 300px;
border-radius: 8px;
}
.feature-right{
    width: 40%;
    height: 300px;
   
  margin-left: 150px;
  margin-top: 300px;
}
.feature-right h1{
    font-size: 40px;
}
.feature-right p{
    font-size: 20px;line-height: 26px;
}
.feature-right .btn{
    margin-top: 20px;
     width: 150px;
     height: 60px;
     color: white;
     background-color:
     #FF900E ;
     border: none;
     font-size: 20px;
}

.love-left{
    width: 40%;
    margin-left: 100px;
    background-color: #f3f3f323;
  
   
   
}
.love-left h1{
    font-size: 45px;
    border-left:7px solid yellow;
    padding: 10px;
}
.love-left >p{
    font-size: 19px;
    line-height: 29px;
    margin-top: 20px;
    margin-bottom: 30px;
 
    width: 500px;
    margin-left: 20px;
   
    color: #727272;
   
   
    margin-top: 20px;
  
}
.desktop p{
    font-size: 19px;
    line-height: 29px;
    margin-top: 20px;
    margin-bottom: 30px;
 
    width: 500px;
   
 color: #727272;
   
   
    margin-top: 20px;
}
.desktop{
     box-shadow: 3px  7px 2px rgba(180, 177, 177, 0.11);
     width: 520px;
     height: 191px;
     padding: 30px;
    
     background-color: #FFFFFF;
     margin-top: 20px;
     border-radius: 9px;
}
.love{
    margin-top: 100px;
    display: flex;
}
.love-right {
    
    width: 550px;
    height: 800px;
    margin-left: 40px;

}
.love-right img{
  width: 100%;
 

}
.btn10{
width: 300px;
height: 150px;
background-color: 
#FF900E;
color: aliceblue;
font-size: 50px;
font-weight: 700;
position: relative;
bottom: 100px;
left: -40px;
border: none;
}


.box{
    height: 200px;
    width: 200px;
    border: 1px solid rgb(219, 145, 33);
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
    
}
.boxs{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 0 auto;
}
.some-fact-text{
    width: 400px;
    margin-left: 100px;
    margin-bottom: 90px;
    margin-top: 80px;
}
.some-fact-text h2{
        font-size: 40px;
        font-weight: 700;
}







/* for mobile screen */
@media only screen  and (max-width:576px) {
    
    
    
    
    
    
    
    
    
    
    
    .container{
    
    width: 100%;
   }
    .banner-top h2{
        font-size: 30px;
    }
    .total-banner{
        background-color: rgba(201, 118, 23, 0.1);
        padding-bottom: 20px;
        width: 100%;
    }

    .header{
    
       flex-direction: column;
       width: 500px;
       margin-bottom: 70px;
       
       margin-left: 30px;
    }
    .g3-title{
        margin-left: 45px;
        margin-bottom: 20px;
    }
    .linkk{
      flex-direction: column;
     list-style-type: none;
      margin-left: 40px;

    
    }
    .linkk li{
           box-shadow: 4px 4px 5px rgb(228, 214, 214);
           padding: 10px;

           width: 70%;
        }
        .banner-top{
            width: 400px;
            height: 150px;
     
            text-align: center;
            margin: 0 auto;
            
        }
    .banner-img img {
        width: 300px;
       margin-top: 60px;
      
        margin-left: 120px;
       
    }
    

.our-feature{
 flex-direction: column;

 width: 500px;
 
}
.team{

    grid-template-columns: repeat(1,1fr);
    margin-left: 130px;

    
   
}
.feature-left{
    width:100%;
  
    margin-left: 10px;
    margin-top: 100px;
  

}
.feature-right{
    width: 50%;
    height: 300px;

   
  margin-left: 160px;
  margin-top: 100px;
  text-align: center;
  
}
.love{
    margin-top: 100px;
    flex-direction: column;
 
    width: 80%;
    
   
    
    
}
.love-left{
    width: 80%;
    margin-left: 120px;
   
}


.love-right {
  
    
    width: 350px;
    height: 500px;
    margin-left: 100px;
    background-color: #FF900E;
    margin-top: 30px;
    
    

}

.love-right  img{
    width: 80%;
    margin-left: -10px;
}
.desktop{
     
     width: 300px;
     height: 250px;
    
   
    

}
.desktop p{
   
  
 
    width: 300px;
   
 color: #727272;

   
   
   
}
.love-left >p{
   
    width: 300px;
 
   
    color: #727272;
   

  
}

.btn10{
    left: -30px;
    width: 250px;
height: 100px;
}
.love-left h1{
    font-size: 35px;
    border-left:7px solid yellow;
    padding: 10px;
   
    width: 300px;
}
.boxs{
  flex-direction: column;
    width: 300px;
    gap: 20px;
    
  
   
}
.box{
    margin-left: 50px;
}
.some-fact-text{
    width: 400px;
    margin-left:80px;
    margin-bottom: 70px;
    margin-top: 80px;
    
}
.some-fact{
   
    width: 100%;
}

}